.input_container {
  height: 30px;
  @apply grid gap-4 grid-cols-8 mt-2
}

.input_label {
  @apply col-span-2 text-main-white
}

.input_field, .dropdown_input {
  @apply col-span-4 text-main-dark rounded pl-1 pr-1
}

.input_field_full_width {
  @apply col-span-8
}

.input_field {
  padding-left: 6px;
}

.input_field:disabled {
  @apply bg-main-darker text-main-dark
}

.input_grey {
  @apply bg-main-darker text-main-white
}

.input_field::placeholder {
  @apply text-main-white
}

.input_field::placeholder:disabled {
  @apply text-main-dark
}

.dropdown_input {
  height: 30px;
  @apply block rounded p-0
}

.input_field:focus {
  outline: none;
}

.form_container {
  @apply mt-4
}
